@define-color bg rgba(24, 24, 32, 0.75);
@define-color fg #e6e9ef;
@define-color fg2 #df6124;
@define-color border alpha(@fg, 0.1);

* {
    border: none;
    border-radius: 0;
    text-shadow: none;
    padding: 0;
    min-height: 0;
    font-family: "JetBrains Mono Nerd Font", monospace;
    font-size: 11px;
    font-weight: bold;
    transition: background-color 0.3s ease-out;
    text-shadow:
        0 0 5px #1b1b1b,
        0 0 5px #2b2b2b,
        0 0 5px #3d3d3d,
        0 0 5px #100c08;
}

window#waybar {
    background-color: transparent;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.modules-left,
.modules-right {
    border-radius: 3px;
    margin: 1px 4px 2px 4px;
    background-color: @bg;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 1);
    min-height: 30px;
    padding: 0px 6px;
}

#workspaces {
    background-color: @bg;
    margin: 5px;
    padding: 0px;
    border-radius: 3px;
}

#workspaces button {
    all: initial;
    border: 1px solid alpha(@fg, 0.5);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    padding: 1px 35px;
    background-color: alpha(@fg, 0.75);
    margin: 0px 1px;
    opacity: 1;
    color: @fg;
    font-size: 0px;
    font-weight: bold;
}

#workspaces button.active {
    color: @fg2;
    border: 1.5px solid @fg2;
    opacity: 1;
    font-size: 0px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

#workspaces button.empty {
    opacity: 0.45;
    font-size: 0px;
    color: @fg;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

#workspaces button.empty.active {
    font-size: 0px;
    color: @fg;
    opacity: 1;
}

#workspaces button:hover {
    background: @fg;
    color: @bg;
    opacity: 1;
}

#tray,
#clock,
#cpu,
#memory,
#battery,
#backlight,
#network,
#bluetooth,
#pulseaudio,
#disk,
#temperature,
#custom-arch,
#custom-player-display,
#custom-separator {
    min-width: 25px;
    margin: 5px 3px;
    padding: 0 6px;
    border-bottom: 2px solid @fg2;
}

#custom-separator {
    opacity: 0.2;
    padding-top: 2px;
    padding-left: 4px;
    padding-right: 4px;
    color: alpha(@fg, 0.5);
    border-bottom: none;
}

#clock {
    color: @fg;
    font-weight: 500;
    letter-spacing: 0.5px;
}

#cpu {
    color: @fg;
}

#memory {
    color: @fg;
}

#disk {
    color: @fg;
}

#network {
    color: @fg;
}

#battery {
    color: @fg;
}

#battery.warning {
    color: @fg;
}

#battery.critical {
    color: @fg;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
}

#pulseaudio {
    color: @fg;
}

#temperature {
    color: @fg;
}

#backlight {
    color: @fg;
}

#tray {
    background-color: transparent;
    padding: 0;
    padding-top: 1px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @bg;
}

#custom-arch {
    font-size: 15px;
    color: @fg;
}

#custom-player-display {
    color: @fg;
}

.hidden {
    opacity: 0;
}

tooltip {
    padding: 4px;
    background: @bg;
    font-size: 11px;
    border-radius: 8px;
    border: 1.5px solid rgba(255, 255, 255, 0.25);
}

tooltip label {
    color: @fg;
}

@keyframes blink {
    to {
        opacity: 0.4;
    }
}
